$facebook     : #3b5998;
$twitter      : #00aced;
$googleplus   : #dd4b39;
$pinterest    : #cb2027;
$linkedin     : #007bb6;
$youtube      : #bb0000;
$vimeo        : #aad450;
$whatsapp     : #4dc247;
$tumblr       : #32506d;
$instagram    : #517fa4;
$flickr       : #ff0084;
$soundcloud   : #ff3a00;